<div class='Sprite' >
    <div class='rel'>
         <div class='sp' [style.background-position-x.%]="getX(0)" [style.background-position-y.%]="getY(0)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(1)" [style.background-position-y.%]="getY(1)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(10)" [style.background-position-y.%]="getY(10)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(20)" [style.background-position-y.%]="getY(20)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(30)" [style.background-position-y.%]="getY(30)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(50)" [style.background-position-y.%]="getY(50)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(52)" [style.background-position-y.%]="getY(52)"><span id='card'></span></div>
    </div>
    <div class='rel'>
            <div class='sp' [style.background-position-x.%]="getX(53)" [style.background-position-y.%]="getY(53)"><span id='card'></span></div>
    </div>
</div>
